.bar text {
  fill: #303030;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar rect:hover {
  fill: #b2b565;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

#descripcion {
  width: 50%;
}

#grafica {
  width: 50%;
}
