.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

#descripcion {
  width: 50%;
}

#grafica {
  width: 50%;
}
